<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 3em;
            color: #007bff; /* Cambia el color si lo deseas */
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <!--FRAGMENTO-->
    <div th:fragment="division">
        <div style="margin-bottom: 30px; margin-top: 30px">
            <center>
                <a class="btn btn-primary" href="/eventos/listar">
                    Eventos
                </a>

                <a class="btn btn-success" href="/artistas/listar">
                    Artistas
                </a>

                <a class="btn btn-danger" href="/contacto">
                    Contacto
                </a>

            </center>
        </div>
    </div>
    <!--BIENVENIDA-->
    <H1>Bienvenidos a EventMaster</H1>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>